<nav class="max-w-xl mx-auto pt-10 sm:pt-28 flex justify-between items-center">
  <ul class="*:size-8 *:opacity-50 flex items-center space-x-4">

    <% if current_user %>
      <li class="hover:opacity-100 transition-opacity">
        <%= link_to root_path do %>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14"><g id="table--money-payment-table-organize-organization-business"><path id="Intersect" fill="#ffffff" d="M0.96 10.268a3.132 3.132 0 0 0 2.753 2.76c1.07 0.12 2.167 0.222 3.287 0.222s2.218 -0.102 3.287 -0.222a3.132 3.132 0 0 0 2.753 -2.76c0.114 -1.063 0.21 -2.155 0.21 -3.268s-0.096 -2.205 -0.21 -3.269a3.132 3.132 0 0 0 -2.753 -2.76C9.217 0.853 8.12 0.75 7 0.75S4.782 0.852 3.713 0.972A3.132 3.132 0 0 0 0.96 3.732C0.846 4.794 0.75 5.886 0.75 7s0.096 2.205 0.21 3.268Z" stroke-width="1"></path><path id="Vector" fill="#d7e0ff" d="M0.802 5.5h12.396a42.53 42.53 0 0 0 -0.158 -1.769 3.132 3.132 0 0 0 -2.753 -2.76C9.217 0.853 8.12 0.75 7 0.75S4.782 0.852 3.713 0.972A3.132 3.132 0 0 0 0.96 3.732C0.898 4.311 0.84 4.901 0.802 5.5Z" stroke-width="1"></path><path id="Intersect_2" stroke="#4147d5" stroke-linecap="round" stroke-linejoin="round" d="M0.96 10.268a3.132 3.132 0 0 0 2.753 2.76c1.07 0.12 2.167 0.222 3.287 0.222s2.218 -0.102 3.287 -0.222a3.132 3.132 0 0 0 2.753 -2.76c0.114 -1.063 0.21 -2.155 0.21 -3.268s-0.096 -2.205 -0.21 -3.269a3.132 3.132 0 0 0 -2.753 -2.76C9.217 0.853 8.12 0.75 7 0.75S4.782 0.852 3.713 0.972A3.132 3.132 0 0 0 0.96 3.732C0.846 4.794 0.75 5.886 0.75 7s0.096 2.205 0.21 3.268Z" stroke-width="1"></path><path id="Vector 259" stroke="#4147d5" stroke-linecap="round" stroke-linejoin="round" d="M4.983 5.5v7.656" stroke-width="1"></path><path id="Vector 260" stroke="#4147d5" stroke-linecap="round" stroke-linejoin="round" d="M0.839 9h12.323" stroke-width="1"></path><path id="Vector_2" stroke="#4147d5" stroke-linecap="round" stroke-linejoin="round" d="M13.198 5.5H0.802" stroke-width="1"></path></g></svg>
        <% end %>
      </li>

      <li class="hover:opacity-100 transition-opacity">
        <%= link_to owners_path do %>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14"><g id="user-circle-single--circle-geometric-human-person-single-user"><path id="Vector" fill="#d7e0ff" d="M7 13.5c4.16 0 6.5 -2.34 6.5 -6.5S11.16 0.5 7 0.5 0.5 2.84 0.5 7s2.34 6.5 6.5 6.5Z" stroke-width="1"></path><path id="Intersect" fill="#ffffff" d="M10.704 12.647c-0.992 0.561 -2.235 0.853 -3.704 0.853 -1.47 0 -2.712 -0.292 -3.704 -0.853v-0.613a3.833 3.833 0 0 1 7.408 0v0.613Z" stroke-width="1"></path><path id="Intersect_2" stroke="#4147d5" stroke-linecap="round" stroke-linejoin="round" d="M10.704 12.034a3.832 3.832 0 0 0 -7.408 0" stroke-width="1"></path><path id="Vector_2" stroke="#4147d5" stroke-linecap="round" stroke-linejoin="round" d="M7 13.5c4.16 0 6.5 -2.34 6.5 -6.5S11.16 0.5 7 0.5 0.5 2.84 0.5 7s2.34 6.5 6.5 6.5Z" stroke-width="1"></path><path id="Vector_3" fill="#ffffff" d="M7 7.58c1.4 0 2.187 -0.788 2.187 -2.188 0 -1.4 -0.788 -2.187 -2.188 -2.187 -1.4 0 -2.187 0.787 -2.187 2.187S5.599 7.58 6.999 7.58Z" stroke-width="1"></path><path id="Vector_4" stroke="#4147d5" stroke-linecap="round" stroke-linejoin="round" d="M7 7.58c1.4 0 2.187 -0.788 2.187 -2.188 0 -1.4 -0.788 -2.187 -2.188 -2.187 -1.4 0 -2.187 0.787 -2.187 2.187S5.599 7.58 6.999 7.58Z" stroke-width="1"></path></g></svg>
        <% end %>
      </li>

      <li class="hover:opacity-100 transition-opacity">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14"><g id="location-pin--navigation-map-maps-pin-gps-location"><path id="Vector" fill="#ffffff" d="M7 7.23A1.965 1.965 0 1 0 7 3.3a1.965 1.965 0 0 0 0 3.93Z" stroke-width="1"></path><path id="Subtract" fill="#d7e0ff" d="M7.578 12.776c1.275 -1.105 4.219 -4.005 4.219 -7.229a4.797 4.797 0 0 0 -9.594 0c0 3.224 2.944 6.124 4.22 7.23 0.334 0.29 0.82 0.29 1.155 0Z" stroke-width="1"></path><path id="Vector_2" stroke="#4147d5" stroke-linecap="round" stroke-linejoin="round" d="M7.578 12.776c1.275 -1.105 4.219 -4.005 4.219 -7.229a4.797 4.797 0 0 0 -9.594 0c0 3.224 2.944 6.124 4.22 7.23 0.334 0.29 0.82 0.29 1.155 0Z" stroke-width="1"></path><path id="Vector_3" fill="#ffffff" d="M7 6.764c0.96 0 1.499 -0.54 1.499 -1.499 0 -0.959 -0.54 -1.499 -1.5 -1.499 -0.958 0 -1.498 0.54 -1.498 1.5 0 0.959 0.54 1.498 1.499 1.498Z" stroke-width="1"></path><path id="Vector_4" stroke="#4147d5" stroke-linecap="round" stroke-linejoin="round" d="M7 6.764c0.96 0 1.499 -0.54 1.499 -1.499 0 -0.959 -0.54 -1.499 -1.5 -1.499 -0.958 0 -1.498 0.54 -1.498 1.5 0 0.959 0.54 1.498 1.499 1.498Z" stroke-width="1"></path></g></svg>
      </li>

      <li class="hover:opacity-100 transition-opacity">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14"><g id="piggy-bank--institution-saving-bank-payment-finance"><path id="Vector 365" stroke="#4147d5" stroke-linecap="round" stroke-linejoin="round" d="M1 2.315c0.254 0.68 0.736 1.194 1.229 1.559" stroke-width="1"></path><path id="Union" fill="#d7e0ff" d="m10.556 2.165 -0.21 1.26c0.77 0.686 1.321 1.577 1.544 2.575h0.36a1 1 0 0 1 1 1v2.382a1 1 0 0 1 -0.553 0.895l-1.577 0.788a1.75 1.75 0 0 1 -3.402 0.812 6.048 6.048 0 0 1 -2.887 -0.111l-0.006 0.028a1.75 1.75 0 0 1 -3.411 -0.785l0.261 -1.137a1.76 1.76 0 0 1 0.102 -0.308A4.64 4.64 0 0 1 1 7c0 -2.76 2.462 -5 5.5 -5 0.345 0 0.682 0.029 1.009 0.084 0.542 -0.71 1.346 -0.957 2.062 -1.042 0.614 -0.072 1.087 0.513 0.985 1.123Z" stroke-width="1"></path><path id="Union_2" stroke="#4147d5" stroke-linecap="round" stroke-linejoin="round" d="m10.556 2.165 -0.21 1.26c0.77 0.686 1.321 1.577 1.544 2.575h0.36a1 1 0 0 1 1 1v2.382a1 1 0 0 1 -0.553 0.895l-1.577 0.788a1.75 1.75 0 0 1 -3.402 0.812 6.048 6.048 0 0 1 -2.887 -0.111l-0.006 0.028a1.75 1.75 0 0 1 -3.411 -0.785l0.261 -1.137a1.76 1.76 0 0 1 0.102 -0.308A4.64 4.64 0 0 1 1 7c0 -2.76 2.462 -5 5.5 -5 0.345 0 0.682 0.029 1.009 0.084 0.542 -0.71 1.346 -0.957 2.062 -1.042 0.614 -0.072 1.087 0.513 0.985 1.123Z" stroke-width="1"></path><path id="Vector 363" stroke="#4147d5" stroke-linecap="round" stroke-linejoin="round" d="m6.354 4.16 -1.518 0" stroke-width="1"></path><path id="Vector 364" stroke="#4147d5" stroke-linecap="round" stroke-linejoin="round" d="m9.75 6.053 0 0.947" stroke-width="1"></path></g></svg>
      </li>
    <% else %>

      <li class="hover:opacity-100 transition-opacity">
        <%= link_to root_path do %>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14"><g id="home-4--home-house-roof-shelter"><path id="Rectangle 15" fill="#d7e0ff" d="M3.837 12.796h6.326c0.67 0 1.24 -0.488 1.341 -1.15 0.162 -1.051 0.2 -2.117 0.113 -3.176h1.223a0.5 0.5 0 0 0 0.422 -0.768l-0.212 -0.333a20 20 0 0 0 -4.785 -5.205l-0.66 -0.501a1 1 0 0 0 -1.21 0l-0.66 0.501A20 20 0 0 0 0.95 7.37l-0.212 0.333a0.5 0.5 0 0 0 0.422 0.768h1.224a13.565 13.565 0 0 0 0.112 3.176c0.102 0.662 0.671 1.15 1.34 1.15Z" stroke-width="1"></path><path id="Rectangle 16" stroke="#4147d5" stroke-linecap="round" stroke-linejoin="round" d="M3.837 12.796h6.326c0.67 0 1.24 -0.488 1.341 -1.15 0.162 -1.051 0.2 -2.117 0.113 -3.176h1.223a0.5 0.5 0 0 0 0.422 -0.768l-0.212 -0.333a20 20 0 0 0 -4.785 -5.205l-0.66 -0.501a1 1 0 0 0 -1.21 0l-0.66 0.501A20 20 0 0 0 0.95 7.37l-0.212 0.333a0.5 0.5 0 0 0 0.422 0.768h1.224a13.565 13.565 0 0 0 0.112 3.176c0.102 0.662 0.671 1.15 1.34 1.15Z" stroke-width="1"></path></g></svg>
        <% end %>
      </li>

    <% end %>
  </ul>

  <ul class="*:size-8 flex items-center space-x-4">
    <% if current_user %>
      <li>
        <%= button_to login_path, method: :delete, class: "opacity-50 hover:opacity-100 transition-opacity" do %>
          <svg class="size-8" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14"><g id="button-power-circle-1--power-button-on-off"><path id="Vector" fill="#ffd7e4" d="M2.115 11.339c2.244 2.635 7.526 2.635 9.77 0 2.068 -2.428 1.91 -7.18 -0.577 -9.258C9.078 0.219 4.92 0.219 2.692 2.08 0.204 4.159 0.047 8.91 2.115 11.339Z" stroke-width="1"></path><path id="Vector_2" stroke="#d5415f" stroke-linecap="round" stroke-linejoin="round" d="M2.115 11.339c2.244 2.635 7.526 2.635 9.77 0 2.068 -2.428 1.91 -7.18 -0.577 -9.258C9.078 0.219 4.92 0.219 2.692 2.08 0.204 4.159 0.047 8.91 2.115 11.339Z" stroke-width="1"></path><path id="Ellipse 611" stroke="#d5415f" stroke-linecap="round" stroke-linejoin="round" d="M4.975 4.345a3.32 3.32 0 1 0 4.05 0" stroke-width="1"></path><path id="Vector 1869" stroke="#d5415f" stroke-linecap="round" stroke-linejoin="round" d="m7 3.36 0 3.01" stroke-width="1"></path></g></svg>
        <% end %>
      </li>
    <% else %>
      <li>
        <%= link_to new_login_path, class: "opacity-50 hover:opacity-100 transition-opacity" do %>
          <svg class="size-8" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14"><g id="button-power-circle-1--power-button-on-off"><path id="Vector" fill="#d7ffe9" d="M2.115 11.339c2.244 2.635 7.526 2.635 9.77 0 2.068 -2.428 1.91 -7.18 -0.577 -9.258C9.078 0.219 4.92 0.219 2.692 2.08 0.204 4.159 0.047 8.91 2.115 11.339Z" stroke-width="1"></path><path id="Vector_2" stroke="#41d593" stroke-linecap="round" stroke-linejoin="round" d="M2.115 11.339c2.244 2.635 7.526 2.635 9.77 0 2.068 -2.428 1.91 -7.18 -0.577 -9.258C9.078 0.219 4.92 0.219 2.692 2.08 0.204 4.159 0.047 8.91 2.115 11.339Z" stroke-width="1"></path><path id="Ellipse 611" stroke="#41d593" stroke-linecap="round" stroke-linejoin="round" d="M4.975 4.345a3.32 3.32 0 1 0 4.05 0" stroke-width="1"></path><path id="Vector 1869" stroke="#41d593" stroke-linecap="round" stroke-linejoin="round" d="m7 3.36 0 3.01" stroke-width="1"></path></g></svg>
        <% end %>
      </li>
    <% end %>
  </ul>
</nav>