<!DOCTYPE html>
<html lang="fr" class="h-dvh">
  <head>
    <title>Libersync | ASL Management</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= turbo_refreshes_with method: :morph, scroll: :preserve  %>
    <%= content_for :head %>
  </head>

  <body class="text-slate-200 bg-slate-900 px-5 sm:px-0 relative h-full">
    <%= yield :back_button %>
    <%= render "layouts/nav" %>
    <%= render "layouts/flash" %>
    <main class="max-w-xl mx-auto mt-4 bg-slate-700/25 px-5 py-10 border rounded-xl border-slate-700 relative">
      <%= yield :edit_button %>
      <%= yield :delete_button %>
      <%= yield :title %>
      <%= yield %>
      <%= render "layouts/grid" %>
    </main>
    <%= render "layouts/logo" %>
  </body>
</html>
